{% extends "quoraa/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
        .link{color : #000000;}
        .article-img {
  height: 100px;
  width: 100px;
  margin-right: 20px;
}
.line{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
    </style>

{% for profiles in user_profile_ %}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="media">
            <div class="media-body">
            <img class=" rounded-circle article-img box-sizing:border-box; direction:ltr;max-width:100%; width:120px'height:120px " src="{{profiles.user.profile.profile_image.url}}"  alt="Unable to upload">
            <br>
                <h5 class="text-left">Username</h5><p style="font-size:20px;">{{profiles.user.username}}</p>

            <h4>Email</h4><p>{{profiles.user.email}}</p><br>

            <h4>Bio</h4><p>{{profiles.user.profile.bio}}</p>
            </div>
        {% if request.user == profiles.user %}
            <a class="btn btn-outline-info ml-4" href="{%url 'edit_user' %}">Edit Profile</a>
        {% endif %}
        </div>

    </div>
<div class="col-sm-3"></div>
    </div>
{%endfor%}
<br>
<hr style="height:1px;border-width:0; color:gray;background-color:gray">

        <h5>Questions Asked.</h5>
            <br>
        {% for question in questions %}
            <div  class="media ">
                <div class="media-body">
            <a class="link" style="font-weight:bold"  href="{% url 'showanswer' question.id %}">{{ question|title|safe }}</a>
            <br>
            <small>Asked on {{question.datee}}</small>
             <hr style="height:1px;border-width:0; color:gray;background-color:gray">
                </div>

            </div>

            <br>

    {% endfor %}

{% endblock %}
